i.material-icons {
    display: inline;
    position: relative;
top: 5px;
}

.menu {
    position: sticky;
    top: 0px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(201, 166, 224);
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #4E0681;
}

.menu .lang {
    float: right;
}
.menu .lang img {
    display: inline;
    position: relative;
    top: 6px;
    left: -4px;
}

h1 {
    text-align: center;
    color: #4E0681;
    font-size: bold;
}

p {
    padding-left: 8px;
    padding-right: 8px;
}

.logo {
    width: 100%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.map-container {
    display: flex;
    flex-flow: row wrap;
}
.map {
    flex: 6 1 auto;
    min-width: 300px;
}
.address {
    flex: 4 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}
.address-content {
    margin-bottom: 16px;
    text-align: center;
}
.address-content p {
    margin: 0px;
}
.address-content .heading {
    color: #4E0681;
    font-weight: bold;
}
.address-content p a {
    text-decoration: none;
    color: black;
}
.address-content p a:hover {
    color: rgb(201, 166, 224);    
}
.fa {
    position: relative;
    top: 5px;
}
.fa.fa-facebook {
    background: #3B5998;
    color: white;
    font-size: 32px;
    width: 32px;
}
.fa.fa-twitter {
    background: #55ACEE;
    color: white;
    font-size: 32px;
}
.fa.fa-instagram {
    font-size: 32px;
}

.papers-list ul {
    list-style-type: none;
}

.papers-list li a {
    display: block;
    color: #4E0681;
    text-align: center;
    text-decoration: none;
}

.papers-list li a:hover {
    color: rgb(201, 166, 224);
}

@media only screen and (max-width: 700px) {
    .menu-text {
        display: none;
    }
}