html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: Livvic;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 10 0 auto;
    background-image: url("bg.jpg");
    background-position: center; 
}

.transparency-background {
    background-color: rgba(255, 255, 255, 0.7);
    width: 65%;
    margin: 0 auto;
    min-width: 545px;
}

.header {
    margin-top: 16px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.logo {
    min-width: 360px;
    min-height: 306px;
    max-width: 543px;
    max-height: 355px;
    display: block;
    width: auto;
    height: auto;
}

.menu {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.menu-item {
    margin-top: 16px;
}

.menu-item a {
    font-weight: 700;
    font-size: 26px;
    color: #4E0681;
    cursor: pointer;
    text-decoration: none;
}
.menu-item a:hover {
    color: rgb(201, 166, 224)
}

.social-media-container {
    display: flex;
    justify-content: space-evenly;
    margin: 16px 0px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }

.fa-envelope {
    background: #dd4b39;
    color: white;
}

footer {
    background-color: rgb(230, 215, 240);
    min-height: 120px;
    max-height: 220px;
    flex: 100 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.footer-content-wrapper {
    display: flex;
    flex-direction: row;
    text-align: center; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-group {
    padding: 16px;
}

.footer-group p {
    margin: 0;
}

.footer-group p.highligh {
    font-weight: bold;
    color: #4E0681;
}

.footer-group p:not(.highligh) {
    font-size: 14px;
}

.footer-group a {
    text-decoration: none;
    color: black;
}

.footer-group a:hover {
    color: #4E0681;
}

@media only screen and (max-width: 685px) {
    .footer-breaker {
        break-after: always;
        width: 100%;
    }
}