
#input-container
{
	padding: 10px;
	border: 1px solid;
	width: 860px;
	height: 110px;
}

.hex-container
{
	position: relative;
	width: 120px;
	height: 104px;
	float: left;
}

.hex-container > .eye
{
	position: absolute;
	background: black;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

.hex-container > .eye0
{
	top: 8px;
	left: 53px;
}

.hex-container > .eye1
{
	top: 27px;
	left: 89px;
}

.hex-container > .eye2
{
	top: 67px;
	left: 86px;
}

.hex-container > .eye3
{
	top: 84px;
	left: 53px;
}

.hex-container > .eye4
{
	top: 67px;
	left: 23px;
}

.hex-container > .eye5
{
	top: 27px;
	left: 18px;
}

.hex-container > .hex-part-1
{
	float: left;
	border-right: 30px solid #CCAA66;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
}

.hex-container > .hex-part-2
{
	float: left;
	width: 60px;
	height: 104px;
	background-color: #CCAA66;
}

.hex-container > .hex-part-3
{
	float: left;
	border-left: 30px solid #CCAA66;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
}

#output-container
{
	padding: 10px;
	border: 1px solid;
	width: 300px;
	height: 340px;
	position: relative;
}

#message-container
{
	padding: 10px;
	border: 1px solid;
	width: 860px;
	height: 20px;
	position: relative;
}
